body {
    font-family: Arial;
    background-color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.list {
    background-color: aliceblue;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 450px; 
    padding: 30px; 
    border: 2px;
}

header {
    text-align: center;
    margin-bottom: 30px; 
}

header h1 {
    font-size: 32px;
    margin: 0;
    color: black;
}

.profile {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.profile img {
    border-radius: 50%;
    width: 70px; 
    height: 70px; 
    margin-right: 15px; 
}

.profile p {
    font-size: 22px; 
    color: #585757;
    margin: 0;
}

.inputlist {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px; 
}

.inputlist input[type="text"] {
    flex: 2;
    padding: 12px; 
    border: 1px solid #cfcdcd;
    border-radius: 5px;
    margin-right: 15px; 
    background-color: #fef6e4;
    color: black;
    font-size: 18px; 
}

.inputlist input[type="date"] {
    flex: 1;
    padding: 12px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 15px; 
    background-color: #fef6e4;
    color: #333;
    font-size: 18px; 
}

.inputlist button {
    padding: 12px 20px; 
    background-color: #ffb3ba;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px; 
}

.inputlist button:hover {
    background-color: #ff8b94;
}


.inputbutton {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px; 
}

.inputbutton button {
    padding: 12px 20px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px; 
}

.inputbutton .complete {
    background-color: rgb(8, 231, 8);
    color: black;
}

.inputbutton .delete {
    background-color: crimson;
    color: black;
}

.inputbutton .update {
    background-color: rgb(96, 96, 255);
    color: black;
}

.inputbutton button:hover {
    opacity: 0.8;
}

.todolist p {
    font-size: 20px; 
    color: #313131;
    margin-bottom: 10px; 
}

.todolist input[type="text"] {
    width: 100%;
    padding: 12px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px; 
    background-color: #fef6e4;
    color: black;
    font-size: 18px; 
}



